#difficulties {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  button {
    background-color: lightblue;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    font-size: 2em;
    font-weight: bold;

    &:hover {
      background-color: orange;
      box-shadow: 0 0 10px orange;
      transform: scale(1.1);
    }
  }
}

#board {
  max-width: 900px;
  margin: auto;
  display: grid;
  gap: 20px;

  .tileBack {
    background: url('../assets/question.svg') center no-repeat;
    background-size: 80% 80%;
    border: 1px solid blue;
    border-radius: 20px;
    position: relative;
    aspect-ratio: 1 / 1;
  }

  img {
    position: absolute;
    margin: 0;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    border-radius: 20px;

    &.hidden {
      visibility: hidden;
    }
  }
}

#scoreBoard {
  display: none;
}

#score {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 3em;
}

.good {
  outline: 1px solid orange;
  box-shadow: 0 0 8px orange;
  pointer-events: none;
}

.flippedSingleCard {
  pointer-events: none;
}

table {
  width: 80%;
  margin: auto;
  text-align: center;
  border-spacing: 0;

  th {
    border: 1px solid white;
  }

  td {
    border-bottom: 1px solid white;
    color: lightskyblue;
    padding: 5px 0;
  }

  caption {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px auto;
    color: lightskyblue;
  }
}