body {
  background-color: rgb(107, 223, 197);
  margin: 0;
}

nav {
  margin-top: 20px;
  width: 100%;
  background-color: black;

  ul {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px 0;

    a {
      color: orange;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: red;
        text-decoration: underline;
      }

      &.current {
        color: white;
      }
    }
  }
}

h1, h2 {
  text-align: center;
  font-weight: normal;
}
